extends ../page-layout.pug

block page
  h2 CCS #{pageName}
  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../switch.css">'
    li
      | 一个元素:
      code.inline= '<input class="ppz-ccs switch" type="checkbox">'

  -var basicDemo = demos['']
  p 完整代码：
  pre
    code= basicDemo.html
  .demo-wrapper
    .header
      label 效果：
      a.link(href=basicDemo.htmlName download=basicDemo.name) 下载源码
    iframe(src=basicDemo.htmlName)