extends ../page-layout.pug

block page
  h2 CSS #{pageName}

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../tabs.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简案例：
  - var basicDemo = demos['']
  pre
    code= basicDemo.html
  .demo-wrapper
    .header
      label 效果：
      div
        a.link(href=basicDemo.htmlName download=basicDemo.fullName) 下载源码

    iframe(src=basicDemo.htmlName)
