extends ../page-layout.pug

block page
  h2 CCS #{pageName}

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../menu-icon.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简用法：
  -var basicDemo = demos['']
  pre
    code= basicDemo.html
  .demo-wrapper
    .header
      label 效果：
      a.link(href=basicDemo.htmlName download=basicDemo.fullName) 下载源码
    iframe(src=basicDemo.htmlName)

  - var bigAndSlow = demos['-big-and-slow']
  h3 慢一点，大一点
  p
    | 传入“参数”
    code.inline font-size
    | 和
    code.inline ani-duration

  pre
    code= bigAndSlow.html
  .demo-wrapper
    .header
      label 效果：
      a.link(href=bigAndSlow.htmlName download=bigAndSlow.fullName) 下载源码
    iframe(src=bigAndSlow.htmlName)
