mixin demo(demo)
  pre
    code= demo.html
  .demo-wrapper
    .header
      label 效果：
      div
        a.link(href=demo.htmlName download=demo.fullName) 下载源码
        a.link(href=demo.htmlName) 独立页面打开

    iframe(src=demo.htmlName)