extends ../page-layout.pug

block page
  h2 CCS #{pageName}

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../menu-drawer.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简用法：
  - var basicDemo = demos['']
  pre
    code= basicDemo.html
  .demo-wrapper
    .header
      label 效果：
      a.link(href=basicDemo.htmlName download=basicDemo.fullName) 下载源码
    iframe(src=basicDemo.htmlName)

  h3 来点参数
  - var paramsDemo = demos['-params']
  pre
    code= paramsDemo.html
  .demo-wrapper
    .header
      label 效果:
      a.link(href=paramsDemo.htmlName download=paramsDemo.fullName) 下载源码
    iframe(src=paramsDemo.htmlName)